html, body { margin: 0; padding: 0; overflow-y: hidden; }
.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar empty-space content"
    "footer footer footer";
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-columns: 150px 15px 1fr;
  min-height: 100vh;
  background-color: #333333;
}
.header {
  grid-area: header;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* background-color: #333333; /* #999999, #321123 */
  padding: 5px;
  padding-bottom: 0px;
}
.header img {
  margin: 5px;
  padding: 5px;
}
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin: 5px;
  margin-top: 75px;
  padding: 0px;
}
.content {
  grid-area: content;
  margin: 55px;
  margin-top: 120px;
  margin-left: 85px;
  margin-right: 35px;
  margin-bottom: 35px;
  padding: 5px;
}
.footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  /* width: 100%; */
  background-color: #333333;
  text-align: center;
  margin: 5px;
  margin-bottom: 12px;
  padding: 5px;
  font-size: 9px;
  color: white;
}
/*-------------------------------------------------------------------------*/
.w3-red  {
  color:#fff!important;
  background-color:#f44336!important; /*background-color:#f44336!important; #371C1C, */
}
